<a href="https://colab.research.google.com/github/crazysudz/queens-Michael-page/blob/main/CISC_121_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to the CISC 121 Notebook!

Hello CISC 121 students! Welcome to your first experience with Google Colab. This is a fantastic tool that allows you to write and run Python code directly in your web browser, without needing to install anything on your computer.

Think of this notebook as an interactive document. It's made up of "cells." There are two main types of cells:

1.  **Text cells (like this one!):** These are for explanations, notes, and descriptions. You can format text using Markdown.
2.  **Code cells:** These are where you'll write and execute your Python code.

To run a code cell, simply click on it and press the "play" button that appears on the left side, or press **Shift + Enter**. The output of your code will appear directly below the cell.

You are currently in your Colab environment, and you can see the notebook cells above. The file browser on the left (if you open it) shows you the files available in your current session.

Follow along the lecture and run cool things in the next cell!

In [ ]:
403 * 1.60934

648.56402

In [ ]:
distanceToLondonMiles = 403
mileToKm = 1.60934
distanceToLondonKm = distanceToLondonMiles * mileToKm
distanceToLondonKm

648.56402

In [ ]:
marathonDistanceMiles = 26.219
mileToKm = 1.60934  # reuse / redefine if needed
marathonDistanceKm = marathonDistanceMiles * mileToKm
print(marathonDistanceKm)

42.19528546

| Type      | Declaration | Example         | Usage                                  |
|-----------|-------------|-----------------|----------------------------------------|
| Integer   | `int`       | `x = 124`       | Numbers without decimal point          |
| Float     | `float`     | `x = 124.56`    | Numbers with decimal point             |
| String    | `str`       | `x = "Hello"`   | Text                                   |
| Boolean   | `bool`      | `x = True`      | Conditional logic (True/False)         |
| NoneType  | `None`      | `x = None`      | Represents “no value” / empty variable |

In [ ]:
x = 10       # This is an integer
y = "20"     # This is a string
x + y        # TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 10       # This is an integer
y = "20"     # This is a string
x + int(y)

In [ ]:
x = "10"
y = "20"
x + y

In [ ]:
16 ** 2 / 4

In [ ]:
4 + 3 ** 2

In [ ]:
x = "Python"
y = "rocks"
x + " " + y

x = "This can be"
y = "repeated "
x + " " + y * 3

## Strings

In [ ]:
x = "Edinburgh"
x = x.upper()

y = "University Of "
y = y.lower()

y + x

In [ ]:
print("Python is powerful!")

x = "Python is powerful"
y = " and versatile!"
print(x + y)

In [ ]:
x = """To include
multiple lines
you have to do this"""
y = "or you can also\ninclude the special\ncharacter '\\n' between lines"

print(x)
print(y)

In [ ]:
str1 = "It has"
str2 = 76
str3 = "methods!"
print(str1, str2, str3)

In [ ]:
pi = 3.14159                     # Pi
d = 12756                        # Diameter of Earth at equator (km)
c = pi * d                       # Circumference

# Using + and casting
print("Earth's diameter at equator: " + str(d) + "km. Equator's circumference:" + str(c) + " km.")

# Using several arguments
print("Earth's diameter at equator:", d, "km. Equator's circumference:", c, "km.")

# Using .format with formatting
print("Earth's diameter at equator: {:.1f} km. Equator's circumference: {:.1f} km.".format(d, c))